* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

.container {
    width: 90%;
    margin: 3rem auto;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal {
    background-color: #1389b2;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizz-buzz {
    background-color: #f0466f;
}